@font-face {
  font-family: "Bungee Inline";
  src: url(https://fonts.gstatic.com/s/bungeeinline/v11/Gg8zN58UcgnlCweMrih332VuPGp_-WEg.woff2);
}
body {
  font-family: 'Courier New', Courier, monospace;
}